.side {
    background-image: url("../assets/bgImage1.png");
    background-color: #f8f5f1;
    background-position: center;
    width: 24%;
    background-size: contain  ;
    height: 75vh ;
    background-repeat: no-repeat;
  }
  